---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { Formatter } from "@/utils/formatter";

interface Props {
  guide: CollectionEntry<"guides">;
}

const { guide } = Astro.props;
---

  <article class="flex flex-col w-full gap-2.5">
    <div class="w-full h-60 flex items-left">
      <Image
        src={guide.data.image}
        alt=""
        width={340}
        height={340}
        class="w-full h-full object-cover"
        quality="low"
        loading="lazy"
        format="avif"
      />
    </div>
    <p class="text-lg pt-3">{guide.data.category}</p>
    <a class="text-2xl font-bold hover:underline" 
      href={`/guides/${guide.slug}`} 
    >
      {guide.data.title}
    </a>
    <p>{Formatter.formatDate(guide.data.date)}</p>

</section>
