---
import type { CountryFilterFieldsResponse } from "@/interfaces/response/CountryFilterFieldsResponse.interface";
import { Image } from "astro:assets";

interface Props {
  country: CountryFilterFieldsResponse;
}

const { country } = Astro.props;
---

<article class="flex flex-col gap-2 items1-center justify-center w-full">
  <p>{country.name.common}</p>
  <a href={`/countries/${country.name.common}`}>
    <div class="border border-1 h-40 w-full">
      <Image
        src={country.flags.png}
        alt={country.flags.alt ?? ""}
        width={300}
        height={300}
        class={"w-full h-full object-cover"}
        transition:name={`${country.name.common}-image`}
        transition:persist={`${country.name.common}-image`}
      />
    </div>
  </a>
</article>
